<center>
<h1>Register an Account!</h1>
<br>

<form action="/users" method="POST">
<input type="text" name="user[username]" placeholder="username">
<input type="password" name="user[password]" placeholder="password">
<input type="submit" value="register now!">
</form>
</center>
